p {
  font-family: 'Comic Sans MS', 'fantasy';
  margin: 20px 10px;
  padding: 10px 20px;
  border: 4px dotted #6867aa;
  font-size: 20px;
}

body {
  width: max-content;
  height: max-content;
}

@media (prefers-reduced-motion: no-preference) {
  img {
    animation-name: wiggle;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes wiggle {
    from {
      transform: rotate(-10deg)
    }
    to {
      transform: rotate(10deg);
    }
  }
}